@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  /* font-family: "Major Mono Display", "Courier New", monospace; */
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  color: white;
  cursor: url(../images/cursor.png), auto;
  background-color: rgb(20, 20, 20);
}

hr {
  border: rgba(0, 0, 0, 0);
}
