@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.6rem;
  border: 0;
}

html {
  font-family: "Inter";
  font-size: 10px;
  color: white;
  user-select: none;
}

h1 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.025em;
  color: #ffffff;
}

.green {
  color: #4adf86;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #d5d4d8;
  margin-bottom: 2rem;
}

p {
  font-size: 1.6rem;
  color: #d5d4d8;
}

body {
  background-color: #1c1c1c;
}

hr {
  height: 1px;
  background: #2f3e53;
  margin: 1rem 0;
}

.container {
  margin: 5rem auto;
  padding: 6rem 5rem 3rem;
  width: 55rem;
  background-color: #1f2937;
  display: grid;
  row-gap: 2rem;
}

button {
  padding: 0 1rem 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #ffffff;
}

.generate {
  width: 21rem;
  height: 4rem;
  background: #059669;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
}

.passwords {
  display: flex;
  justify-content: space-between;
}

.password-btn {
  width: 21rem;
  min-height: 4rem;
  background: #273549;
  color: #55f991;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  word-break: break-all;
}

.password-btn:hover {
  background: hsl(215, 30%, 24%);
}

.options {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.checkboxes {
  display: grid;
  row-gap: 1.5rem
}

.label-checkbox {
  display: flex;
  font-size: 1.7rem;
  color: #d5d4d8;
}

input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  accent-color: #059669;
}

.label-number {
  display: grid;
  font-size: 1.5rem;
  row-gap: 0.67rem;
  color: #d5d4d8;
  text-align: center;
}

input[type=number] {
  font-family: "Inter";
  font-size: 2rem;
  text-align: center;
  width: 5.5rem;
  height: 3.5rem;
  border-radius: 0.3rem;
  border: 0;
  background: #059669;
  color: white;
}

.popup {
  padding: 1rem;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  top: 35rem;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #2f3e53;
  color: #55f991;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.length-btn {
  width: 2rem;
}

.dec {
  padding: 0.3rem 0.2rem 0.3rem 0;
  background: linear-gradient(to right, #059669 90%, #0596689c);
  border-radius: 0.5rem 0 0 0.5rem;
}

.inc {
  padding: 0.3rem 0 0.3rem 0.2rem;
  background: linear-gradient(to left, #059669 90%, #0596689c);
  border-radius: 0 0.5rem 0.5rem 0;
}

.dec:hover {
  background: linear-gradient(to right, #007f55 90%, #0596689c);
}

.inc:hover {
  background: linear-gradient(to left, #007f55 90%, #0596689c);
}

.dec:active {
  background: linear-gradient(to right, #006840 90%, #0596689c);
}

.inc:active {
  background: linear-gradient(to left, #006840 75%, #0596689c);
}

#password-length {
  width: zzrem;
  padding: 0.6rem;
  background-color: #0596689c;
  border-radius: 0;
  color: #ffffff;
}

.length-input {
  display: flex;
}

header {
  margin: 0 auto;
  padding: 0.7rem 0.7rem 1rem;
  min-width: 15rem;
  width: min-content;
  border-radius: 0;
  text-align: center;
  color: #4adf86;
  background: #273549;
  position: sticky;
  top: 0;
  transform: translateX(calc(50vw - 100%));
  border-radius: 0 0 0.5rem 0.5rem;
}

header a {
  color: #4adf86;
}