.step-row {
  display: flex;
  /* Align buttons in a row */
  margin-bottom: 0;
  /* Space between rows */
}

.step-button {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
}

.step-button.active {
  background-color: #4caf50;
}

.step-button.active-step {
  background-color: #f39c12;
}

.controls {
  margin-top: 20px;
  display: none;
}

.note-label {
  display: inline-block;
  /* Allow fixed width without affecting the layout */
  width: 40px;
  /* Set a fixed width for the note labels */
  text-align: center;
  /* Center the text within the label */
  align-self: center;
}

